---
title: Contact Me
layout: layouts/base.liquid
---

<section class="page-section contactSection">
  <h1>Get in Touch</h1>
  <span class="text-gray">Let's Connect</span>
</section>

<div class="content-container contactContainer">
  <div class="contactLeft">
    <form action="https://api.web3forms.com/submit" method="POST" class="leftForm">
      <input type="hidden" name="access_key" value="4817e616-8305-404b-b614-9553ef38ab32">
      <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
      <input type="email" name="email" placeholder="Your Email Address" class="contact-inputs" required>
      <textarea name="message" placeholder="Your Message!" class="contact-inputs" required></textarea>
      <button type="submit" class="submitBtn">Submit</button>
    </form>
  </div>
  <div class="rightForm">
    <div class="descLine">
      <p>Want to collaborate or have a project in mind?<br>
        Feel free to get in touch with me.<br>
        I am always open to discussing new projects, creative ideas, or opportunities to be part of your visions.</p>
    </div>
    <div class="socialRows">
      <div class="socialRow">
        <div class="socialLink">
          <img class="socialPic" src="/assets/images/email.png" alt="Email">
          <a class="socialName" href="mailto:shubhisharma30@gmail.com">shubhisharma30@gmail.com</a>
        </div>
        <div class="socialLink">
          <img class="socialPic" src="/assets/images/phone.png" alt="Phone">
          <a class="socialName" href="tel:+917339859959">+91-7339859959</a>
        </div>
      </div>
      <div class="socialRow">
        <div class="socialLink">
          <img class="socialPic" src="/assets/images/linkedin.png" alt="LinkedIn">
          <a class="socialName" href="https://www.linkedin.com/in/shubhangi-sharma-678734126/">LinkedIn</a>
        </div>
        <div class="socialLink">
          <img class="socialPic" src="/assets/images/twitter.png" alt="Twitter">
          <a class="socialName" href="https://x.com/shubhisharma30">Twitter</a>
        </div>
      </div>
    </div>
  </div>
</div>