<header>
  <nav>
    <div class="left">Shubhangi's Portfolio</div>
    <div class="right">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About Me</a></li>
        <li><a href="/professional-experience/">Professional Experience</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/contact/">Contact Me</a></li>
      </ul>
    </div>
  </nav>
</header>