<header>
  <nav>
    <div class="left">Shubhangi's Portfolio</div>
    <div class="right">
      <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About Me</a></li>
        <li><a href="/professional-experience/">Professional Experience</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/contact/">Contact Me</a></li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>
</header>